@model Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Proiduct Details</h1>

@*<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Seller Name</th>
            <th>Production Date</th>
            <th>SubCategory</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.id</td>
            <td>@Model.name</td>
            <td>@Model.brand</td>
            <td>@Model.model</td>
            <td>@Model.price</td>
            <td>@Model.SellerName</td>
            <td>@Model.ProductionDate</td>
            <td>@ViewBag.SubCategoryName</td>
            <td><a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-warning">Edit</a></td>
            <td><a asp-action="Delete" asp-route-id="@Model.id" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
</table>*@
<div class="mt-3">
    <div class="card">
        <img class="card-img-top" src="data:image;base64,@(Convert.ToBase64String(Model.Photo))" />
        <div class="card-body text-center">
            <h2>@Model.name</h2>
            <h5>Brand: @Model.brand</h5>
            <h5>Model: @Model.model</h5>
            <h5>Seller: @Model.SellerName</h5>
            <h5>PrdData: @Model.ProductionDate</h5>
            <h3>Price: @Model.price</h3>
            <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.id" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
<div>
    <a asp-action="Products" class="btn btn-primary" asp-route-name="@ViewBag.SubCategoryName">Back to List</a>  |
    <a asp-action="Index" class="btn btn-primary">Return To Categories</a>
</div>
<style>
    .card {
        width: 18rem;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .card-text {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #f0c14b;
        border-color: #a88734 #9c7e31 #846a29;
    }

        .btn-primary:hover {
            background-color: #f7dfa5;
            border-color: #a88734 #9c7e31 #846a29;
        }
</style>