@model PaginatedList<Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center" > Cars </h1>

<form asp-area="Admin" asp-controller="Product" asp-action="Products" asp-route-id="@ViewBag.SubCategoryId" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="hidden" name="name" value="@ViewBag.SubCategoryId">
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Products" asp-route-id="@ViewBag.SubCategoryId" class="btn btn-primary">Back to Full List</a>
            <a asp-action="DeleteAllProducts" asp-area="Admin" asp-controller="Product" asp-route-id="@ViewBag.SubCategoryId" class="btn btn-danger">Delete All Products In @ViewBag.SubCategoryName</a>
        </p>
    </div>
</form>
<div>
    <label for="sort-select">Sort by:</label>
    <select id="sort-select" onchange="location = this.value;">
        <option value="@Url.Action("Products", new { name = ViewBag.SubCategoryName, sortOrder = ViewData["IdSortParm"] })">ID</option>
        <option value="@Url.Action("Products", new { name = ViewBag.SubCategoryName, sortOrder = ViewData["NameSortParm"] })">Name</option>
        <option value="@Url.Action("Products", new { name = ViewBag.SubCategoryName, sortOrder = ViewData["BrandSortParm"] })">Brand</option>
        <option value="@Url.Action("Products", new { name = ViewBag.SubCategoryName, sortOrder = ViewData["ModelSortParm"] })">Model</option>
        <option value="@Url.Action("Products", new { name = ViewBag.SubCategoryName, sortOrder = ViewData["PriceSortParm"] })">Price</option>
    </select>
</div>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="card m-4">
            <img class="card-img-top" src="data:image;base64,@(Convert.ToBase64String(product.Photo))" alt="Card image cap">
            <div class="card-body">
                <div>
                    <h2>@product.name</h2>
                </div>
                <div>
                    <h5>@product.brand</h5>
                </div>
                <div>
                    <h5>@product.model</h5>
                </div>
                <div>
                    <h5>@product.SellerName</h5>
                </div>
                <div>
                    <h5>@product.ProductionDate</h5>
                </div>
                <div>
                    <h3>@product.price</h3>
                </div>
                <a asp-action="Details" asp-route-id="@product.id" class="flex-fill btn btn-outline-primary">View</a>
                <a asp-action="Edit" asp-route-id="@product.id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@product.id" class="btn btn-danger">Delete</a>
               
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<div>
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
    {
        <a asp-action="Create" asp-route-SubCategoryId="@ViewBag.SubCategoryId" class="btn btn-primary">Add New Product</a>
    }
    |  <a asp-action="Index" class="btn btn-primary">Return To Categories</a>
</div>
<style>
    .card {
        width: 18rem;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .card-text {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #f0c14b;
        border-color: #a88734 #9c7e31 #846a29;
    }

        .btn-primary:hover {
            background-color: #f7dfa5;
            border-color: #a88734 #9c7e31 #846a29;
        }
</style>