@model SubCategoriesAndCategoriesEditForm
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form class="form" method="post" asp-action="Edit">
    <div class="input-grup">
        <input asp-for="id" type="hidden" value="@Model.id" />
        <input asp-for="name" class="form-control" placeholder="@Model.name" required />
        @*<input asp-for="CatName" class="form-control mt-3" placeholder="@Model.CategoryId" required />*@
        <div class="input-group">
            <select asp-for="CatName" placeholder="@Model.CatName" class="form-select form-select-lg mb-3 mt-3">
                @foreach (var cat in Model.CatsNames)
                {
                    <option>@cat</option>
                }
            </select>
            </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary mt-2">Edit The Category</button>
            <a asp-action="Index" class="btn btn-primary mt-2 ml-2">Back to List</a>
        </div>
    </div>
    <span asp-validation-for="name" class="text-danger"></span>
</form>
