@model PaginatedList<Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">@ViewBag.SubCategoryName</h1>

<form asp-action="Products" asp-route-name="@ViewBag.SubCategoryName" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="hidden" name="name" value="@ViewBag.SubCategoryName">
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName" class="btn btn-primary">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table tab-content">
    <thead>
        <tr>
            <th>SubCat</th>
            <th>
                <a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName" asp-route-sortOrder="@ViewData["IdSortParm"]">ID</a>
            </th>
            <th>
                <a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
            </th>
            <th>
                <a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName" asp-route-sortOrder="@ViewData["BrandSortParm"]"> Brand </a>
            </th>
            <th>
                <a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName" asp-route-sortOrder="@ViewData["ModelSortParm"]">Model</a>
            </th>
            <th> 
                <a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
            </th>
            <th>Seller Name</th>
            <th>Production Date</th>
            <th>Add To Cart</th>
            <th>Details</th>
            @if (User.IsInRole("SuperAdmin")||User.IsInRole("Admin"))
            {
                <th>Edit</th>
                <th>Delete</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td>@ViewBag.SubCategoryName</td>
                <td>@product.id</td>
                <td>@product.name</td>
                <td>@product.brand</td>
                <td>@product.model</td>
                <td>@product.price</td>
                <td>@product.SellerName</td>
                <td>@product.ProductionDate</td>
                <td>
                    <a class="btn btn-primary" asp-action="AddToCart" asp-area="" asp-controller="Products"
                   asp-route-ProductId="@product.id" asp-route-name="@ViewBag.SubCategoryName">Add To Cart</a></td>
                <td><a asp-action="Details" asp-route-id="@product.id" class="btn btn-primary">Details</a></td>
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <td><a asp-action="Edit" asp-route-id="@product.id" class="btn btn-warning">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@product.id" class="btn btn-danger">Delete</a></td>
                }
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Products" asp-route-name="@ViewBag.SubCategoryName"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<div>
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
    {
        <a asp-action="Create" asp-route-SubCategory="@ViewBag.SubCategoryId" asp-route-SubCategoryName="@ViewBag.SubCategoryName" class="btn btn-primary">Add New Product</a>
 
    }
          <a asp-action="Index" class="btn btn-primary">Return To Categories</a>
</div>

@*-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------*@

@*Products With Jquery DataTable*@

@*@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/lib/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />

<div class="container">
    <h3 class="text-primary" style="text-align:center">Products</h3>
    <table id="Products" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>brand</th>
                <th>model</th>
                <th>ProductionDate</th>
                <th>SubCategoryId</th>
                <th>price</th>
                <th>SellerName</th>
                <th>Details</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/productsdatatable.js"></script>
    <script src="~/js/productsdatatable.js"></script>
}
*@